.section {
  height: 100px;
  background-image: url(../images/gallery.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper {
  max-width: 90%;
  max-height: 90%;
}
