.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  align-items: center; /* Центрирует элементы по вертикали */
  justify-content: space-between;
}
.logo-link {
}
.header-logo {
  display: flex;
  @media (min-width: 768px) and (max-width: 1199px) {
    padding-right: 64px;
    padding-top: 37px;
    padding-bottom: 15px;
  }
  @media (min-width: 1199px) {
    padding-right: 110px;
    padding-top: 37px;
  }
}
.header-list {
  display: none;
  @media (min-width: 1199px) {
    display: flex;
    gap: 30px;
  }
}
.header-item {
}
.header-nav {
  height: 95px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-link {
  list-style: none;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  color: white;
}
.header-btn {
  display: none;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    align-self: flex-end;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: $axent;
    border: none;
    border-radius: 22px;
    padding: 10px 34px;
    background-image: url(../images/button-arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  @media (min-width: 1199px) {
    display: flex;
    align-self: flex-end;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    color: $axent;
    background-color: #fff;
    padding: 7px 36px;
    border-radius: 22px;
    border: none;
    background-image: url(../images/button-arrow.svg);
    background-repeat: no-repeat;
    background-position-x: 115px;
    background-position-y: center;
  }
}
.header-container {
  display: flex;
}

/*modal*/

.burger-open {
  padding: 20px 300px;
  position: absolute;
  background-color: transparent;
  display: block;
  border: none;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.header-menu {
  background-color: #e17992;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 1920px;
  height: 1080px;
  padding: 48px 40px;
  z-index: 999;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 319px;
    height: 1080px;
  }
  @media (min-width: 1199px) {
    display: none;
}
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.header-menu-btn {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #d41443;
  padding: 13px 60px;
  border-radius: 22px;
  border: none;
  margin-top: 60px;
  margin-left: 25px;
}

.btn-span {
  margin-left: 9px;
}

.header-menu-list {
  margin-top: 19px;
}

.header-menu-item {
  margin-bottom: 21px;
}

.header-menu-link {
  margin-left: 21px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.header-menu-link:hover {
  color: #d41443;
}

.header-btn-menu-close {
  color: white;
  position: relative;
  left: 300px;
 bottom: 300px;
width: 1px;
height: 1px;
}

@media screen and (min-width: 768px) {
  .burger-open {
    display: none;
  }
}
