.hero {
  display: flex;
  position: relative;
  background-color: $background-first;
  padding-top: 193px;
  padding-bottom: 160px;
  overflow: hidden;
  background-image: url(../images/circle-hero.png);
  background-repeat: no-repeat;
  background-position:right;
  @media (min-width: 768px) and (max-width: 1199px) {
  background-size: 50%;
  }
}

.hero-title {
  position: relative;
  z-index: 1;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: white;
  padding-bottom: 18px;
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 22px;
  }
  @media (min-width: 1199px) {
    font-size: 38px;
    text-transform: uppercase;
  }
}
.passion {
  color: $axent;
}
.hero-list {
  display: flex;
  gap: 30px;
}
.hero-number {
  display: none;
  @media (min-width: 1199px) {
    display: flex;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    letter-spacing: 4%;
    color: $axent;
    text-align: right;
    text-transform: uppercase;
  }
}
.hero-text {
  display: none;
  @media (min-width: 1199px) {
    display: flex;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: white;
  }
}
.hero-button-list {
  display: flex;
  position: relative;
  z-index: 1;
}
.hero-button-item {
  display: flex;
}
.hero-button-red {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: $axent;
  color: white;
  border: none;
  border-radius: 22px;
  padding: 7px 15px;

  @media (min-width: 1199px) {
    font-weight: 400;
    font-size: 14px;

    padding: 15px 36px;
  }
}
.hero-button-white {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: $axent;
  border: none;
  border-radius: 22px;
  padding: 7px 15px;

  @media (min-width: 1199px) {
    font-weight: 400;
    font-size: 14px;

    padding: 15px 36px;
  }
}

.hero-image-girl {
  display: none;
}

.hero-milk-text {
  display: none;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    letter-spacing: 0%;
    color: white;
  }
  @media (min-width: 1199px) {
    display: flex;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: white;
  }
}
.hero-image-milk {
  display: none;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
}
  @media (min-width: 1199px) {
    display: flex;
  }
}
.hero-image-icecream {
  z-index: 0;
  position: absolute;
  bottom: 0;
  right: 32px;
  width: 171px;
  height: 410px;
  @media (min-width: 768px) and (max-width: 1199px) {
    right: 247px;
    top: 63px;
    width: 143px;
    height: 336px;
  }
  @media (min-width: 1199px) {
    right: 450px;
  }
}
.milk-hero-btn {
  display: none;
  @media (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    background-image: url(../images/button-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 62.4px;
    height:24px;
    border: none;
    border-radius: 22px;
  }
  
  @media (min-width: 1199px) {
    display: flex;
    background-image: url(../images/button-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 22px;
  }
}
