@charset "UTF-8";
body * {
  box-sizing: border-box;
}

h1, h2, h3, h4, p, div, body, a, button, ul, li {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 280px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 1199px) {
  .container {
    width: 1119px;
  }
}

.header {
  display: flex;
  background-color: #ffb8ca;
  align-items: center; /* Центрирует элементы по вертикали */
  justify-content: space-between;
}

.header-logo {
  display: flex;
  padding-right: 110px;
  padding-top: 37px;
}

.header-list {
  display: flex;
  gap: 30px;
}

.header-item {
  padding-top: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px; /* Регулируйте расстояние между элементами */
}

.header-link {
  list-style: none;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  color: white;
}

.header-btn {
  display: flex;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  color: #d41443;
  background-color: #fff;
  padding: 7px 36px;
  border-radius: 22px;
  border: none;
  margin-left: 110px;
  margin-top: 38px;
}

.header-container {
  display: flex;
}

.hero {
  display: flex;
  background-color: #ffb8ca;
}

.hero-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;
  color: white;
}

.passion {
  color: #d41443;
}

.hero-list {
  display: flex;
}

.hero-number {
  display: flex;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: 4%;
  color: #d41443;
  text-align: right;
  text-transform: uppercase;
}

.hero-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  color: white;
}

.hero-button-list {
  display: flex;
}

.hero-button-item {
  display: flex;
}

.hero-button {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  color: #d41443;
  border: none;
  border-radius: 22px;
  padding: 15px 36px;
}

.hero-milk-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: white;
}

.product-natural-title {
  margin-top: 127px;
  margin-bottom: 49px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  color: #ffb8ca;
}

.pink-text {
  color: #d41443;
}

.products-list {
  display: flex;
  justify-content: center;
}

.products-item {
  width: 329px;
  height: 525px;
  border-radius: 24px;
  margin-right: 27px;
  text-align: center;
  position: relative;
}

.products-item:nth-child(1) {
  background-color: #ffb8ca;
}

.products-item:nth-child(2) {
  background-color: #f0d1a5;
}

.products-item:nth-child(3) {
  background-color: #c2e297;
}

.products-title {
  font-family: "Titan One";
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.dots {
  display: block;
  font-size: 20px;
  color: #ffffff;
}

.products-text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 4%;
  text-align: center;
  color: white;
}/*# sourceMappingURL=index.css.map */