.header{
    display: flex;
    background-color: #FFB8CA;
}
.logo-link {
}
.header-logo {
}
.header-list { 
       font-family: "DM Sans";
font-weight: 700;
font-size: 16px;
color: white;
}
.header-item {


}
.header-link {
}
.header-btn {
}