.product {
}

.product-natural-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 4%;
  text-transform: uppercase;

  color: $background-first;
  @media (min-width: 1199px) {
    margin-top: 127px;
    margin-bottom: 260px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 4%;
    text-align: center;
    text-transform: uppercase;
  }
}
.pink-text {
  color: $axent;
}
.products-list {
  display: flex;

  justify-content: center;
}
.product-wrap {
  border-radius: 24px;
  margin-right: 27px;
  text-align: center;
  padding: 163px 75px 50px;
}
.product-wrap:nth-child(1) {
  background-color: $background-first;
}
.product-wrap:nth-child(2) {
  background-color: $product-second;
}
.product-wrap:nth-child(3) {
  background-color: $product-third;
}
.products-image {
  position: absolute;
  top: -263px;
}
.products-item:nth-child(1) {
  position: relative;
}
.products-item:nth-child(2) {
  position: relative;
}
.products-item:nth-child(3) {
  position: relative;
}
.products-item {
}
.products-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.dots {
  display: block;
  font-size: 20px;
  color: #ffffff;
}
.products-text {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 4%;
  text-align: center;
  color: white;
}
.product-btn {
}
