<section class="cow" id="cow">
  <div class="container">
    <h3 class="cow-subtitle">tradition and love</h3>
    <h2 class="cow-title">how it’s made?</h2>
    <div class="cow-wrap">
      <picture>
        <source
          srcset="./images/cow-cow.png 1x, ./images/cow-cow@2x.png 2x"
          type="image/png"
        />
        <img src="./images/cow-cow.png" alt="Cow" class="cow-cow"/>
      </picture>
      <div class="cow-info">
        <p class="cow-text cow-bold">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="cow-text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="cow-text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="cow-button" cow-modal-open>Read more</button>
        <div class="cow-modal is-hidden" cow-modal>
          <button class="cow-modal-cross" cow-modal-close>
            <svg class="cow-modal-icon">
              <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
          </button>
          <h3 class="cow-modal-title">about us</h3>
          <div class="cow-modal-wrap">
            <p class="cow-modal-text">
              In hac habitasse platea dictumst. Nullam egestas mattis leo et pretium. Sed id sem non augue dapibus iaculis vel at dui. Fusce eu metus et magna dignissim venenatis. Sed suscipit nisi sit amet auctor efficitur.
            </p>
            <p class="cow-modal-text">
              Pellentesque ultrices tortor sit amet dolor volutpat sodales. Nullam convallis eros ligula, a egestas odio rutrum vel. Nunc sit amet ultrices ipsum. Praesent posuere eros ac magna vestibulum fermentum. Aliquam bibendum nibh nec risus laoreet, in placerat quam lacinia. Sed vitae nulla erat.
            </p>
            <p class="cow-modal-text">
              Nunc pharetra viverra hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </p>
            <p class="cow-modal-text">
              Cras mattis elit orci, sit amet viverra nibh facilisis sed. Pellentesque id efficitur est. Aenean rutrum eget odio nec porta. Duis dolor lorem, blandit id ultricies sit amet, maximus sit amet ante. Sed sapien lorem, mattis sit amet urna eu, scelerisque fermentum purus. Proin suscipit ultricies orci, vel dignissim lectus ultricies quis.
            </p>
            <p class="cow-modal-text">
              Pellentesque congue felis nec justo finibus interdum at eu sem. Maecenas ac tellus et tellus congue pharetra. Nunc lacinia lacinia ligula, non lacinia urna ultricies id. Aliquam id faucibus nisl. In aliquam fermentum malesuada. Aliquam erat volutpat.
            </p>
            <p class="cow-modal-text">
              Proin facilisis venenatis laoreet. In gravida metus ut leo cursus feugiat. Nullam fringilla aliquet ante, sit amet auctor mi tempor sit amet!
            </p>
          </div>
        </div>
      </div>
    </div>
    <ul class="cow-list">
      <li class="cow-item">
        <picture>
          <source
            srcset="./images/cow-icon1.png 1x, ./images/cow-icon1@2x.png 2x"
            type="image/png"
          />
          <img src="./images/cow-icon1.png" alt="Icon of cow" class="cow-icon"/>
        </picture>
        <h4 class="cow-number">721</h4>
        <p class="cow-fact">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="cow-item">
        <picture>
          <source
            srcset="./images/cow-icon2.png 1x, ./images/cow-icon2@2x.png 2x"
            type="image/png"
          />
          <img src="./images/cow-icon2.png" alt="Icon of apples" class="cow-icon"/>
        </picture>
        <h4 class="cow-number">16kg</h4>
        <p class="cow-fact">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="cow-item">
        <picture>
          <source
            srcset="./images/cow-icon3.png 1x, ./images/cow-icon3@2x.png 2x"
            type="image/png"
          />
          <img src="./images/cow-icon3.png" alt="Icon of heart" class="cow-icon"/>
        </picture>
        <h4 class="cow-number">84</h4>
        <p class="cow-fact">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
