<footer class="footer">
  <div class="footer-wrap">
    <div class="footer-text">
      <h4 class="footer-subtitle">HOMEMADE ICE CREAM MADE</h4>
      <h2 class="footer-title">WITH PASSION</h2>
    </div>

    <ul class="footer-socials">
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <img src="./images/github.png" alt="Github" class="footer-icon" />
        </a>
      </li>
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <img src="./images/telegram.png" alt="Telegram" class="footer-icon" />
        </a>
      </li>
      <li class="footer-social-item">
        <a href="" class="footer-social-link">
          <img src="./images/facebook.png" alt="Facebook" class="footer-icon" />
        </a>
      </li>
    </ul>

    <div class="footer-info">
      <p class="footer-contact">
        Feel free to contact:
        <a class="footer-phone">+61(0) 383 766 284</a>
      </p>
    </div>
  </div>

  <p class="footer-copy">© 2019 – IceCream. All Rights Reserved.</p>
</footer>
