<header class="header">
  <div class="container">
    <div class="header-container">
    <a href="/" class="logo-link">
      <img src="./images/logo.svg" alt="" class="header-logo" />
    </a>
    <nav class="header-nav">
    <ul  class="header-list">
      <li class="header-item"><a class="header-link" href="./index.html">Home</a></li>
      <li class="header-item"><a class="header-link" href="#location">About us</a></li>
      <li class="header-item">
        <a class="header-link" href="#cow">How it’s made? </a>
      </li>
      <li class="header-item">
        <a class="header-link" href="#products">Our products </a>
      </li>
      <li class="header-item"><a class="header-link" href="#footer">Contact</a></li>
    </ul>
    <button class="header-btn" type="button">Buy now</button>
  </nav>
</div>
</div>
</header>
