<header class="header">
    <div class="container">
         <h1 class="heder-title">ICECREAM</h1>
         <ul class="header-list">
            <li class="header-item"> <a class="header-link" href="">Home</a></li>
            <li class="header-item"> <a  class="header-link" href="">About us</a></li>
            <li class="header-item"> <a  class="header-link" href="">How it’s made? </a></li>
            <li class="header-item"> <a  class="header-link" href="">Our products </a></li>
            <li class="header-item"> <a class="header-link"  href="">Contact</a></li>

         </ul>
         <button class="header-btn" type="button">Buy now</button>
    </div>
   
</header>