<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      ice cream made with <span class="passion">passion</span>
    </h1>
    <ul class="hero-list">
      <li class="hero-item">
        <p class="hero-number">16</p>
        <p class="hero-text">cafes</p>
      </li>
      <li class="hero-item">
        <p class="hero-number">23</p>
        <p class="hero-text">food trucks</p>
      </li>
    </ul>
    <ul class="hero-button-list">
      <li class="hero-button-item">
        <button type="button" class="hero-button-red">Products</button>
      </li>
      <li class="hero-button-item">
        <button type="button"  class="hero-button-white">How it’s made?</button>
      </li>
    </ul>
    <img class="hero-image-icecream" src="./images/hero-icecream.png" />
    <img class="hero-image-girl" src="./images/hero-girl.png" />
    <div class="hero-div-milk">
      <p class="hero-milk-text">
        Lorem ipsum dolor sit amet, <br />
        consectetur adipiscing elit, <br />
        sed do eiusmod tempor <br />
        incididunt ut labore et
      </p>
       
      <img class="hero-image-milk" src="./images/hero-milk.png" />
    </div>
  </div>
</section>
