<section class="hero">
    <div class="container">
       <h1 class="hero-title">ice cream  made with <span class="passion">passion</span></h1> 
       <ul class="hero-list">
        <li class="hero-item"> <p class="hero-number">16</p> <p class="hero-text">cafes</p></li>
          <li class="hero-item"> <p class="hero-number">23</p> <p class="hero-text">food trucks</p></li>
       </ul>
       
       <button type="button">Products</button>
        <button type="button">Products </button>
 <img  class="hero-image-icecream" src="../images/hero-icecream.png">
       <img  class="hero-image-girl" src="../images/hero-girl.png">
        <p>Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit, <br> sed do eiusmod tempor <br>  incididunt ut labore et</p>
        <div class="div-milk"> 
         <img  class="hero-image-milk" src="../images/hero-milk.png">
       </div> 
      </div>
</section>