<section class="location-section" id="location-section">
  <div class="container">
    <ul class="location-wrapper">
      <li class="location-block">
        <div class="location-text">
          <div class="location-type">CAFE</div>
          <h3 class="location-city">Chicago</h3>
          <p class="text-info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-info">
          <p class="workdays-title">Monday – Friday</p>
          <p class="workdays-hours">06:00 AM – 10:00 PM</p>
          <p class="weekend-title">Saturday – Sunday</p>
          <p class="weekend-hours">08:00 AM – 04:00 PM</p>
          <p class="contact">
            <a class="contact-phone" href="">+61(0) 383 766 284</a><br />
            <a class="contact-email" href="">noreply@envato.com</a>
          </p>
        </div>
      </li>

      <li class="location-block">
        <div class="location-text">
          <div class="location-type">FOOD TRUCK</div>
          <h3 class="location-city">Los Angeles</h3>
          <p class="text-info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-info">
          <p class="workdays-title">Monday – Friday</p>
          <p class="workdays-hours">06:00 AM – 10:00 PM</p>
          <p class="weekend-title">Saturday – Sunday</p>
          <p class="weekend-hours">08:00 AM – 04:00 PM</p>
          <p class="contact">
            <a class="contact-phone" href="">+61(0) 383 766 284</a><br />
            <a class="contact-email" href="">noreply@envato.com</a>
          </p>
        </div>
      </li>

      <li class="location-block">
        <div class="location-text">
          <div class="location-type">CAFE</div>
          <h3 class="location-city">New York</h3>
          <p class="text-info">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="location-info">
          <p class="workdays-title">Monday – Friday</p>
          <p class="workdays-hours">06:00 AM – 10:00 PM</p>
          <p class="weekend-title">Saturday – Sunday</p>
          <p class="weekend-hours">08:00 AM – 04:00 PM</p>
          <p class="contact">
            <a class="contact-phone" href="">+61(0) 383 766 284</a><br />
            <a class="contact-email" href="">noreply@envato.com</a>
          </p>
        </div>
      </li>
    </ul>

    <div class="location-buttons">
      <button class="btn-location">
        Our Locations
        <svg class="locations-svg">
          <use href="/src/images/symbol-defs.svg#locations-arrow"></use>
        </svg>
      </button>
      <button class="btn-franchise">
        Franchise
        <svg class="locations-svg">
          <use href="/src/images/symbol-defs.svg#locations-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
