<section class="product">
  <div class="container">
    <h2 class="product-natural-title">
      100% natural <span class="pink-text">products</span>
    </h2>
    <ul class="products-list">
      <li class="products-item">
        <img class="products-image" src="./images/product1.png" />
        <h3 class="products-title">ice cream</h3>
        <span class="dots">...</span>
        <p class="products-text">
          Lorem ipsum dolor sit amet, <br />
          consectetur adipiscing elit, <br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="product-btn" type="button"></button>
      </li>
      <li class="products-item">
        <img class="products-image" src="./images/product2.png" />
        <h3 class="products-title">ice cream</h3>
        <span class="dots">...</span>
        <p class="products-text">
          Lorem ipsum dolor sit amet, <br />
          consectetur adipiscing elit, <br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="product-btn" type="button"></button>
      </li>
      <li class="products-item">
        <img class="products-image" src="./images/product3.png" />
        <h3 class="products-title">ice cream</h3>
        <span class="dots">...</span>
        <p class="products-text">
          Lorem ipsum dolor sit amet, <br />
          consectetur adipiscing elit, <br />
          sed do eiusmod tempor <br />
          incididunt ut labore et
        </p>
        <button class="product-btn" type="button"></button>
      </li>
    </ul>
  </div>
</section>
