<section class="reviwes container">
  <ul class="reviwes-list">
    <li class="reviwes-item">
      <picture class="reviwes-pfp">
        <source
          srcset="./images/reviews-pfp1.png 1x, ./images/reviews-pfp1@2x.png 2x"
          type="image/png"
        />
        <img src="./images/reviews-pfp1.png" alt="Icon of cow" />
      </picture>
      <p class="reviwes-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <svg class="reviwes-group">
        <use href="./images/symbol-defs.svg#icon-reviwes-group"></use>
      </svg>
      <p class="reviwes-info">Emily, Los Angeles</p>
      <ul class="reviwes-svgs">
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-home"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
      </ul>
    </li>
    <li class="reviwes-item">
      <picture class="reviwes-pfp">
        <source
          srcset="./images/reviews-pfp2.png 1x, ./images/reviews-pfp2@2x.png 2x"
          type="image/png"
        />
        <img src="./images/reviews-pfp2.png" alt="Icon of cow" />
      </picture>
      <p class="reviwes-text">
        In dictum leo ante, egestas posuere sem rhoncus elementum. Sed dictum
        interdum sodales. Aliquam erat volutpat. Nunc hendrerit lectus vel erat
        tempor.
      </p>
      <svg class="reviwes-group">
        <use href="./images/symbol-defs.svg#icon-reviwes-group"></use>
      </svg>
      <p class="reviwes-info">Olivia, Los Angeles</p>
      <ul class="reviwes-svgs">
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-home"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
      </ul>
    </li>
    <li class="reviwes-item">
      <picture class="reviwes-pfp">
        <source
          srcset="./images/reviews-pfp3.png 1x, ./images/reviews-pfp3@2x.png 2x"
          type="image/png"
        />
        <img src="./images/reviews-pfp3.png" alt="Icon of cow" />
      </picture>
      <p class="reviwes-text">
        Ut nec diam feugiat velit porttitor congue. Aenean volutpat ante sed
        ullamcorper dictum. Nam commodo tristique turpis, quis egestas nibh
        aliquet accumsan. Fusce ipsum nunc.
      </p>
      <svg class="reviwes-group">
        <use href="./images/symbol-defs.svg#icon-reviwes-group"></use>
      </svg>
      <p class="reviwes-info">Ava, New York</p>
      <ul class="reviwes-svgs">
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-circle"></use>
          </svg>
        </li>
        <li class="reviwes-svgs-item">
          <svg class="reviwes-icon">
            <use href="./images/symbol-defs.svg#icon-reviwes-home"></use>
          </svg>
        </li>
      </ul>
    </li>
  </ul>
</section>
